{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <!-- You can link your CSS stylesheets here if needed -->
</head>
<body>
    <header>
        <h1> About me </h1>
    </header>

    <main>
        <p> I like turtles .</p>
        <!-- Your dynamic content from Flask can go here -->
    </main>

    <footer>
        <p>&copy; Turtles are great </p>
    </footer>
</body>
</html>
{% endblock %}